body {
  background-color: #000;
}

.content {
  margin: auto;
  width: 1400px;
}

.flex {
  display: flex;
}

header {
  background-image: url(/assets/images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px 0 330px 0;
}

.head {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.head ul {
  display: flex;
  gap: 30px;
  margin-right: 31px;
  list-style: none;
}

.head a {
  color: #fff;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-weight: normal;
}

.language {
  display: flex;
  align-items: center;
}

.en, .ru {
  background: none;
  border: none;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: normal;
}

.en {
  color: #bdae82;
}

.language span {
  color: #fff;
}

.hero {
  margin: 160px 0 0 60px;
  width: 500px;
  height: 330px;
}

h1 {
  font-size: 60px;
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 47px;
}

.hero p {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  line-height: 40px;
  margin-bottom: 25px;
  width: 470px;
  height: 120px;
}

.hireMe {
  color: #000;
  background-color: #bdae82;
  width: 220px;
  height: 55px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  border: none;
}

.skills_block, 
.portfolio_block {
  position: relative;
  width: 700px;
  height: 80px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
}

.line {
  position: absolute;
  z-index: 1;
  background-color: #bdae82;
  width: 700px;
  height: 2px;
  top: 39px;
}

.skills_block h2,
.portfolio_block h2 {
  font-size: 40px;
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  margin: 0;
  position: absolute;
  z-index: 2;
  color: #bdae82;
  background-color: #000;
  padding: 0 20px;
  left: 274px;
  top: 17px;
}

.skills_items {
  display: flex;
  gap: 40px;
}

.skills_items img {
  margin-bottom: 50px;
}

.skills_list {
  text-align: center;
  width: 320px;
}

.skills_list dt {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.skills_list dd {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  width: 280px;
  margin: auto;
}

.portfolio_block h2 {
  left: 240px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 60px;
}

.buttons_container button {
  width: 220px;
  height: 55px;
  color: #bdae82;
  background-color: #000;
  border: 2px solid #bdae82;
  font-size: 20px;
  line-height: 40px;
  font-family: Inter, sans-serif;
  font-weight: normal;
}

.buttons_container button.active {
  background-color: #bdae82;
  border: none;
  color: #000;
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 25px;
}